@media only screen and (min-width: 1200px) {
  ul.tb-products-content li.tb-product {
    width: 33.33%;
  }
}

ul.tb-thumb-swatch li img {
    width: 100% !important;
}

a.tb-button-add-to-cart.btn {
    background-color: #e05554;
    color: #fff;
    border: 1px solid #e05554;
}

a.tb-button-details.btn.btn--secondary {
    color: #e05554;
    background-color: #fff;
    border: 1px solid #e05554;
}

a.tb-cart-total-price {
    background: #e05554 !important;
}

a.tb-add-to-checkout-items.btn{
    background-color: #e05554;
    color: #fff;
    border: 1px solid #e05554;
    padding: 10px 0px;
    text-align: center;
}

a.tb-add-to-cart-items.btn.btn--secondary{
    color: #e05554;
    background-color: #fff;
    border: 1px solid #e05554;
    padding: 10px 0px;
    text-align: center;
}

.tb-quickview-button a.tb-open-quick-view {
    background: #e05554;
    color: #fff;
}

a.tb-continue-shopping.btn.btn--secondary{
    color: #e05554;
    background-color: #fff;
    border: 1px solid #e05554;
    padding: 10px 0px;
    text-align: center;
}

a.tb-filter-clear-all-cart{
    color: #e05554;
    background-color: #fff !important;
    border: 1px solid #e05554;
}

a.tb-filter-clear-all{
    color: #e05554;
    background-color: #fff !important;
    border: 1px solid #e05554;
}

a.tb-clear-option-name{
    color: #e05554;
    background-color: #fff !important;
    border: 1px solid #e05554;
}

.tt-menu a.filter_app-footer {
    background-color: #e05554;
    color: #fff;
}

.snize-ac-results{
  	display: none !important;
}

.tb-sidebar-toggle {
    background: #e05554 !important;
}

.mobile-nav-wrapper {
    z-index: 9896;
}

.tb-filter.tb-list.tb-scroll-tb-cl {
    max-height: 220px;
}

#snappy_filter__filters {
    padding: 10px;
}

#load-ajax-products {
    padding: 10px;
}

.tb-content-cart.tb-drawer-solution .tb-slick-carousel .tb-load-cart-content .tb-cart-image img {
    max-height: inherit !important;
    max-width: 100%;
}

.tb-tag-right-arrow {
    display: none;
}
.tb-tag-product-label {
    border-radius: 4px;
  	padding: 0px 8px 0px 8px;
}

span.tb-hidden-count {
    display: none;
}

div#load-ajax-products {
    padding-left: 20px;
}

.tb-product-card-details {
    margin-bottom: 20px;
}

.tb-collection-search {
    padding: 10px 0px 30px 0px;
    position: relative;
    width: 100%;
}

button.tb-button-collection-search {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 15px;
    padding: 0 0 0 5px;
    height: 100%;
    z-index: 1;
    max-height: 40px;
    height: 100%;
    width: 100%;
    max-width: 40px;
    background-color: transparent;
    border: 0px solid;
}

input#tb-input-collection-search {
    width: 100%;
}

#snappy_filter_wrapper {
    width: 100%;
}

.tb-grid-view-item__title {
    font-weight: normal;
    margin-top: 15px;
}

.tb-grid-view-item__meta {
    display: inline-block;
    font-size: 1.25em;
    color: #4a4a4a;
    line-height: 1em;
    font-family: "Century Gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 5px;
}

select.tb-combobox-filter {
    padding: 10px;
}

.tb-productitem--image {
    padding-bottom: 100%;
}

@media only screen and (min-width: 769px) {
	.tt-menu {
        max-height: 50vh;
        height: auto;
        overflow-y: auto;
        padding-bottom: 0px !important;
    }
}

@media only screen and (max-width: 768px) {
    .tb-cart-icon {
        z-index: 9895;
    }
    #snappy_filter__filters {
        padding: 0px;
    }
    #load-ajax-products {
        padding: 0px;
    }
    .tb-drawer-solution .tb-content-new-drawer .tb-cart-close {
        top: 0px !important;
    }
    #mobile-nav {
        z-index: 9896;
    }
}